body {
  background-color: darkgreen;
  color: #248f24;
}

.backgroundImage {
  background: url(../img/background-japan.jpg) no-repeat center center fixed;
  origin background-size: cover;
  background-size:  cover;
}

h1 {
  font-size: 60px;
}

h2 {
  padding-bottom: 15px;
}

p {
  font-size: 18px;
  padding-left: 15px;
}

img {
  object-fit: cover;
  width: 500px;
  height: 500px;
}

ul {
  padding-bottom: 50px;
  font-size: 18px;
}

/*Class selectors*****************************************/
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.white-background {
  background-color: white;
}
.red-background {
  background-color: red;
}

.green-background {
  background-color: darkgreen;
}

.col-sm-4 {
  border: 3px solid;
  border-radius: 15px 50px;
  border-color: #4d4d4d;
}
.btn-info{
 margin-left: 20px;]
}

.monster img {
  padding: 20px 0 20px;
}

.monster a {
  color: white;
}

.container {
  padding-bottom: 50px;
}
/*Id selectors*******************************************/

#hiding-image, #toggle-image, #hidden-p, #hidden-p2, #card1, #card2, #card3, #card4, #card5, #card6 {
  display: none;
}

#click6, #click7, #click8 {
    padding: 15px;
}

#click6 {
  color: blanchedalmond;
}

#click6:hover {
  color: darkred;
}

#click7{
  color: crimson;
}

#click7:hover{
  color: darkred;
}

#click8{
  color: lightgreen;
}

#click8:hover{
  color: red;
}
