
body {
  background-color: darkgreen;
}

p {
  font-size: 16px;
  padding-left: 15px;
}

/*Class selectors*****************************************/
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.white-background {
  background-color: white;
}
.red-background {
  background-color: red;
}

.green-background {
  background-color: darkgreen;
}

.col-sm-4 {
  border: 3px solid;
  border-radius: 15px 50px;
}
.btn{
 margin-left: 20px;]
}
/*Id selectors*******************************************/

#hiding-image, #toggle-image, #hidden-p, #hidden-p2, #card1, #card2, #card3, #card4, #card5, #card6 {
  display: none;
}

#click6, #click7, #click8 {
    padding: 15px;
}

#click6 {
  color: blanchedalmond;
}

#click6:hover {
  color: darkred;
}

#click7{
  color: crimson;
}

#click7:hover{
  color: darkred;
}

#click8{
  color: lightgreen;
}

#click8:hover{
  color: red;
}
